body {
  font-family: 'Microsoft YaHei';
}
section {
  background-color: #01c26f;

}

.title {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 60px;
}
.title .title-cn {
  font-size: 32px;
  color: #333;
  font-weight: 400;
}
.title .title-en {
  font-size: 24px;
  color: #00c26e;
  font-weight: 400;
}



.navbar {
  margin-bottom: 0;
  padding: 0 60px;
}
.navbar-nav a {
  color: #000;
  font-size: 16px;
}
.navbar-nav a:hover {
  color: #00c26e;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
}
.nav>li {
  margin-right: 20px;
}
.content-container {
  min-width: 960px;
  max-width: 1400px;
  margin: 0 auto;
}

.header-container .content-container {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}
.product-container .content-container {
  background-color: #f6f8fa;
}
.solution-container .content-container {
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}
.partner-container {
  background-color: #fff;
}
.header-container {
  padding-top: 50px;
}
.banner-container {
  position: relative;
}

.header-container .content-container {
  height: 108px;
  padding: 10px 0;
}


.banner-container .btn-apply {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-tranform: translate(-50%, -50%);
  width: 192px;
  height: 40px;
  margin-left: -96px;
  background: #00c26e;
  color: #fff;
}
.product-container .nav-tabs {
  margin-top: 80px;
  border-bottom: none;
  text-align: center;
}
.product-container .nav-tabs>li {
  display: inline-block;
  float: none;
}
.product-container .nav-tabs>li>a {
  padding: 0;
  width: 84px;
  height: 22px;
  line-height: 22px;
  color: #000;
  background: fff;
  border-radius: 0;
}
.product-container .nav-tabs>li.active>a {
  border: none;
  color: #fff;
  background: #00c26e;
}


.product-container .product-item {
  text-align: center;
  margin-bottom: 20px;
}
.product-container .product-icon-container {
  width: 122px;
  height: 122px;
  border-radius: 61px;
  margin: 0 auto;
  background: #fff;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.product-container .product-icon {
  width: 80px;
  height: 80px;
  background: url(../img/service/tab1/1.png) center center/contain no-repeat;
}
.product-container .product-item.active {
  color: #00c26e;
}
.product-container .product-item.active .product-icon-container {
  background: #17c190;
}
.product-container .product-item:nth-of-type(1) .product-icon {background-image: url(../img/service/tab1/1.png);}
.product-container .product-item:nth-of-type(1).active .product-icon {background-image: url(../img/service/tab1/1-ON.png);}
.product-container .product-item:nth-of-type(2) .product-icon {background-image: url(../img/service/tab1/2.png);}
.product-container .product-item:nth-of-type(2).active .product-icon {background-image: url(../img/service/tab1/2-ON.png);}
.product-container .product-item:nth-of-type(3) .product-icon {background-image: url(../img/service/tab1/3.png);}
.product-container .product-item:nth-of-type(3).active .product-icon {background-image: url(../img/service/tab1/3-ON.png);}
.product-container .product-item:nth-of-type(4) .product-icon {background-image: url(../img/service/tab1/4.png);}
.product-container .product-item:nth-of-type(4).active .product-icon {background-image: url(../img/service/tab1/4-ON.png);}
.product-container .product-item:nth-of-type(5) .product-icon {background-image: url(../img/service/tab1/5.png);}
.product-container .product-item:nth-of-type(5).active .product-icon {background-image: url(../img/service/tab1/5-ON.png);}
.product-container .product-item:nth-of-type(6) .product-icon {background-image: url(../img/service/tab1/6.png);}
.product-container .product-item:nth-of-type(6).active .product-icon {background-image: url(../img/service/tab1/6-ON.png);}
.product-container .product-item:nth-of-type(7) .product-icon {background-image: url(../img/service/tab1/7.png);}
.product-container .product-item:nth-of-type(7).active .product-icon {background-image: url(../img/service/tab1/7-ON.png);}
.product-container .product-item:nth-of-type(8) .product-icon {background-image: url(../img/service/tab1/8.png);}
.product-container .product-item:nth-of-type(8).active .product-icon {background-image: url(../img/service/tab1/8-ON.png);}
.product-container .product-item:nth-of-type(9) .product-icon {background-image: url(../img/service/tab1/9.png);}
.product-container .product-item:nth-of-type(9).active .product-icon {background-image: url(../img/service/tab1/9-ON.png);}
.product-container .product-item:nth-of-type(10) .product-icon {background-image: url(../img/service/tab1/10.png);}
.product-container .product-item:nth-of-type(10).active .product-icon {background-image: url(../img/service/tab1/10-ON.png);}

.product-container .product-list-2 .product-item:nth-of-type(1) .product-icon {background-image: url(../img/service/tab2/1.png);}
.product-container .product-list-2 .product-item:nth-of-type(1).active .product-icon {background-image: url(../img/service/tab2/1-ON.png);}
.product-container .product-list-2 .product-item:nth-of-type(2) .product-icon {background-image: url(../img/service/tab2/2.png);}
.product-container .product-list-2 .product-item:nth-of-type(2).active .product-icon {background-image: url(../img/service/tab2/2-ON.png);}
.product-container .product-list-2 .product-item:nth-of-type(3) .product-icon {background-image: url(../img/service/tab2/3.png);}
.product-container .product-list-2 .product-item:nth-of-type(3).active .product-icon {background-image: url(../img/service/tab2/3-ON.png);}
.product-container .product-list-2 .product-item:nth-of-type(4) .product-icon {background-image: url(../img/service/tab2/4.png);}
.product-container .product-list-2 .product-item:nth-of-type(4).active .product-icon {background-image: url(../img/service/tab2/4-ON.png);}
.product-container .product-list-2 .product-item:nth-of-type(5) .product-icon {background-image: url(../img/service/tab2/5.png);}
.product-container .product-list-2 .product-item:nth-of-type(5).active .product-icon {background-image: url(../img/service/tab2/5-ON.png);}
.product-container .product-list-2 .product-item:nth-of-type(6) .product-icon {background-image: url(../img/service/tab2/6.png);}
.product-container .product-list-2 .product-item:nth-of-type(6).active .product-icon {background-image: url(../img/service/tab2/6-ON.png);}

.product-container .product-icon {
  width: 80px;
  display: block;
}
.product-container .product-title {
  font-size: 16px;
  margin: 20px 0 5px;
}
.product-container .product-desc {
  font-size: 14px;
  margin: 0;
}

.solution-container .content-container{
  padding-bottom: 80px;
}

.solution-container .solution-list:nth-of-type(1) {
  border-bottom: 1px solid #eee;
}
.solution-container .solution-item {
  position: relative;
  height: 260px;
  padding-top: 50px;
  border-right: 1px solid #eee;
  background: url(../img/number/01.png) 15px 20px/81px 66px no-repeat;
}
.solution-container .solution-item:after {
  content: '';
  position: absolute;
  width: 57px;
  height: 74px;
  top: 0;
  right: 15px;
  background: url(../img/solution/1.png) center 20px/contain no-repeat;
}

.solution-container .solution-item:nth-of-type(2) {background-image: url(../img/number/02.png);}
.solution-container .solution-item:nth-of-type(2):after {background-image: url(../img/solution/2.png);}

.solution-container .solution-item:nth-of-type(3) {background-image: url(../img/number/03.png);}
.solution-container .solution-item:nth-of-type(3):after {background-image: url(../img/solution/3.png);}

.solution-container .solution-item:nth-of-type(4) {background-image: url(../img/number/04.png);}
.solution-container .solution-item:nth-of-type(4):after {background-image: url(../img/solution/4.png);}

.solution-container .solution-list-2 .solution-item:nth-of-type(1) {background-image: url(../img/number/05.png);}
.solution-container .solution-list-2 .solution-item:nth-of-type(1):after {background-image: url(../img/solution/5.png);}

.solution-container .solution-list-2 .solution-item:nth-of-type(2) {background-image: url(../img/number/06.png);}
.solution-container .solution-list-2 .solution-item:nth-of-type(2):after {background-image: url(../img/solution/6.png);}

.solution-container .solution-list-2 .solution-item:nth-of-type(3) {background-image: url(../img/number/07.png);}
.solution-container .solution-list-2 .solution-item:nth-of-type(3):after {background-image: url(../img/solution/7.png);}

.solution-container .solution-list-2 .solution-item:nth-of-type(4) {background-image: url(../img/number/08.png);}
.solution-container .solution-list-2 .solution-item:nth-of-type(4):after {background-image: url(../img/solution/8.png);}

.solution-container .solution-item:nth-last-of-type(1) {
  border-right: none;
}
.solution-container .solution-more-link {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 12px;
  color: #00c26e;
}
.solution-container .solution-title-cn {
  margin: 0 0 10px;
  font-size: 18px;
}
.solution-container .solution-title-en {
  margin: 0 0 20px;
  font-size: 14px;
}

.intro-container .content-container {
  position: relative;
  top: 80px;
}

.partner-container {
  background-color: #fff;
  padding-top: 80px;
}
.partner-container .partner-list {
  margin-bottom: 40px;
}
.partner-container .partner-item {
  text-align: center;
}
.partner-container .partner-logo {
  height: 66px;
}


.about-container {
  padding-bottom: 80px;
  background: #f7f8fc;
}
.about-container .about-list {
  margin-top: 60px;
  text-align: left;
}

.about-container .about-item-content {
  background: url(../img/number/01-lg.png) 15px center/contain no-repeat;
  max-width: 170px;
  margin: 0 auto;
}
.about-container .about-item:nth-of-type(2) .about-item-content {background-image: url(../img/number/02-lg.png);}
.about-container .about-item:nth-of-type(3) .about-item-content {background-image: url(../img/number/03-lg.png);}
.about-container .about-item:nth-of-type(4) .about-item-content {background-image: url(../img/number/04-lg.png);}

.about-container .about-title {
  text-align: right;
  font-size: 24px;
  color: #666;
}
.about-container .about-desc {
  height: 50px;
}

.footer-container {
  background: #00c26e;
  padding: 100px 0;
}
.footer-container .footer-left {
  font-size: 14px;
  color: #fff;
}
.footer-container .links {
  margin-bottom: 10px;
  color: inherit;
}
.footer-container .links a {
  color: inherit;
}
.footer-container .card {
  text-align: center;
  width: 525px;
  height: 243px;
  background: #fff;
  margin-top: -140px;
  border-radius: 20px;
  padding: 50px 10px;
}
.footer-container .card-qrcode {
  width: 125px;
  height: 125px;
}
.footer-container .card-title {
  font-size: 32px;
  color: #333;
  text-align: left;
}
.footer-container .card-item {
  font-size: 14px;
  color: #666;
  text-align: left;
}